# Ignore Python environment and secrets
.env
__pycache__/
*.pyc

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python virtual environments
.venv/
venv/

# Logs
*.log

# Ignore test outputs
coverage/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
